@import "~bootstrap/scss/functions";

$white: #ffffff;
$black: #000000;
$blue: #0000ff;
$wordpress-admin-primary: #0085ba;

$theme-colors: (
        'primary': $wordpress-admin-primary,
);


/**************************
* Global
***************************/
$body-bg: #f1f1f1; // Default WP background color

/**************************
* Links
***************************/

/**************************
* Fonts
***************************/
$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
$font-size-base: 0.85rem;

/**************************
* Alerts
***************************/
$alert-padding-y: 0.2rem;
$alert-border-radius: 0;
$alert-bg-color-basic: lighten($black, 80%);

/**************************
* Buttons
***************************/
$btn-border-radius: 3px;

/**************************
* Forms & Form Inputs
***************************/
$input-border-radius: 0;
$input-border-radius-lg: 0;
$input-border-radius-sm: 0;
$input-focus-box-shadow: none;

$form-feedback-font-size: 90%;

/**************************
* Fields
***************************/
$field-description-text-color: lighten($black, 50%);

/**************************
* Admin page
***************************/
$admin-bar-height: 56px;
$admin-sidebar-width: 400px;
$admin-sidebar-title-bg-color: lighten($blue, 47%);

/**************************
* Admin Table
***************************/
$pagination-height: 30px;
$pagination-current-page-input-height: $pagination-height;
$pagination-total-page-height: $pagination-height;
$pagination-nav-item-height: $pagination-height;
