.virtual-list {
  background-color: $gray-200;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: scroll;
  padding: 15px 15px 0;
  border: 2px solid $gray-200;

  &__item {
    background-color: $white;
    margin-bottom: 15px;
    padding: 15px 0;
    box-shadow: 0 2px 2px 0 $gray-500;
  }

  &__item-checkbox {
    padding: 0 15px 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid $gray-200;
  }

  &__item-content {
    padding: 0 15px;
  }
}