body {
  &.themosis-extended-admin-page {
    @import "../components/alerts";
  }
}

$b-form-group: '.form-group';

.admin-page {
  $b-admin-page: &;

  background-color: $white;
  margin: 0;
  padding: 30px;
  position: fixed;
  right: 0;
  left: 160px;
  top: 32px;
  bottom: 0;
  z-index: 99;
  font-size: $font-size-base;

  body.folded & {
    left: 36px;
  }

  #{$b-form-group}--integer,
  #{$b-form-group}--choice {
    .form-control {
      height: 35px;
    }
  }

  @import "admin-header";

  @import "admin-content";

  @import "admin-form";

  @import "admin-sidebar";
}